<div class="footer">
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Email</a></li>
    <li><a href="#">Gitlab</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>


</body>
</html>