<%- include ('header.ejs') %>
            <div class="jumbotron">
                    <h1>Quản lý nhóm</h1>
                    <table id="table" >  
                        <thead>  
                            <tr>  
                                <th>Tên nhóm</th>  
                            </tr>  
                        </thead>  
                         <tbody>  
                         <% data.forEach(function (data) { %>
                            <tr>  
                                <td><%= data.name %></td>  
                                <td><button class="btn btn-block rounded-1 btn-info">Đổi tên</button></td>
                                <td><button class="btn btn-block rounded-1 btn-danger">Xóa nhóm</button></td>
                            </tr>                                
                         <% }) %>
                         </tbody>
                    </table> 
            </div>          
<%- include ('footer.ejs') %>
